spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/inventory_db
    username: admin
    password: admin
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        naming:
          physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        format_sql: true
        jdbc:
          time_zone: UTC

logging:
  level:
    root: "info"
    org.springframework.web: "error"
    org.hibernate: "debug"
    org.hibernate.SQL: "debug"
    org.hibernate.orm.jdbc.bind: "trace"




