<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define the Spring profile value -->
    <springProperty name="SPRING_PROFILE" source="spring.profiles.active" defaultValue="dev"/>


    <!-- Name value of the log file based on the profile role -->
    <property name="LOG_FILE" value="logs/ciams-${SPRING_PROFILE}.log"/>


    <!-- Appender with rotation -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_FILE}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- Create one file a day -->
            <fileNamePattern>
                logs/%d{yyyy-MM-dd}-ciams-${SPRING_PROFILE}.log
            </fileNamePattern>

            <!-- Keep it for 14 days maximum -->
            <maxHistory>14</maxHistory>

            <!-- Delete log file that exceed 30MB size -->
            <totalSizeCap>30MB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>

    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>

    </appender>

    <root level="INFO">
        <appender-ref ref="ROLLING"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
