services:

    # -----------------------------------------
    # PostgreSQL - Inventory Service
    # -----------------------------------------
    postgres:
      image: postgres:16
      container_name: ciams-postgres
      environment:
        POSTGRES_DB: ${DB_NAME}
        POSTGRES_USER: ${DB_ADMIN_USERNAME}
        POSTGRES_PASSWORD: ${DB_ADMIN_PASSWORD}
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U ${DB_ADMIN_USERNAME} -d ${DB_NAME}" ]
        interval: 10s
        timeout: 5s
        retries: 5

    # -----------------------------------------
    # MongoDB - Auth Service
    # -----------------------------------------
    mongo:
      image: mongo:latest
      container_name: ciams-mongo
      ports:
        - "27017:27017"
      volumes:
        - mongo_data:/data/db

    # -----------------------------------------
    # Auth Service (Spring Boot)
    # -----------------------------------------
    auth-service:
      build: ../auth-service
      container_name: auth-service
      depends_on:
        - mongo
      ports:
        - "8081:8080"
      environment:
        SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
        SPRING_DATA_MONGODB_HOST: mongo
        SPRING_DATA_MONGODB_PORT: 27017
        SPRING_DATA_MONGODB_DATABASE: auth_db
        ADMIN_USERNAME_MONGODB: ${ADMIN_USERNAME_MONGODB}
        ADMIN_PASSWORD_MONGODB: ${ADMIN_PASSWORD_MONGODB}

        JWT_SECRET: ${JWT_SECRET}

    # -----------------------------------------
    # Inventory Service (Spring Boot)
    # -----------------------------------------
    inventory-service:
      build: ../inventory-service
      container_name: inventory-service
      depends_on:
        postgres:
          condition: service_healthy
      ports:
        - "8080:8080"
      environment:
        SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE}
        DB_HOST: postgres
        DB_PORT: 5432
        DB_NAME: ${DB_NAME}
        DB_ADMIN_USERNAME: ${DB_ADMIN_USERNAME}
        DB_ADMIN_PASSWORD: ${DB_ADMIN_PASSWORD}
        JWT_SECRET: ${JWT_SECRET}

# -----------------------------------------
# Volumi persistenti
# -----------------------------------------
volumes:
  postgres_data:
  mongo_data:
