services:

  # -----------------------------------------
  # PostgreSQL - Inventory Service
  # -----------------------------------------
  postgres:
    image: postgres:16
    container_name: ciams-postgres
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_ADMIN_USERNAME}
      POSTGRES_PASSWORD: ${DB_ADMIN_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_ADMIN_USERNAME} -d ${DB_NAME}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # -----------------------------------------
  # MongoDB - Auth Service
  # -----------------------------------------
  mongo:
    image: mongo:latest
    container_name: ciams-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

# -----------------------------------------
# Volumi persistenti
# -----------------------------------------
volumes:
  postgres_data:
  mongo_data:
